{# This adds pagination to singlePage.njk #}
{% extends "../pages/singlepage.njk" %}
{% block content %}
    {{ super() }}
    <aside class="paginator-back">
        <a href="/{{ lang }}/journal/" lang="{{ lang }}" hreflang="{{ lang }}">{{ translations.back_to_journal[lang] }}</a>
    </aside>
{% endblock %}
