{# This adds pagination to singlePage.njk #}
{% extends "../pages/singlepage.njk" %}
{% from "../addPaginator.njk" import defaultPaginator with context %}
{% block content %}
    {{ super() }}
    {{ defaultPaginator(collections.journal) }}
{% endblock %}

