{% extends "base.njk" %}
{% block side %}
    {# {% include "_partials/readbuttons.njk" %} #}
{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}
    <article>
        <div class="contents">
            {{ content | safe }}</div
            {# {% include "../_partials/i18n.njk" %} #}
        </article>
    {% endblock %}
    {% block footer %}{% endblock %}
