.homepage {
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-template-rows: auto 1fr;

  .running-head {
    display: flex;
    justify-content: center;
  }

  .running-head .menu {
    height: auto;
  }

  .back-home {
    background: 0 0;
    border: none;
    box-shadow: none;
  }

  article {
    display: flex;
    grid-column: left/end;
    font-size: 1em;
    height: 100%;

    .contents {
      margin: auto;
      display: flex;
      flex-direction: column;

      > a {
        background: none;
      }
    }

    .intro-logo {
      width: 81%;
      margin: 0 auto 2em;
      display: block;
    }
  }

  p {
    margin: 0 auto;
    margin-bottom: 0;
    max-width: 40ch;
    margin-bottom: 1em;
    font-size: 1em;
    text-align: center;
  }

  ul {
    font-size: 0.9em;
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    justify-self: flex-end;

    li {
      letter-spacing: 0.2ch;
      display: flex;
      padding: 0;
      margin: 0;
      flex-direction: row;
      display: inline-block;
      font-family: var(--font-sans);
      padding: 1em;
      text-align: center;
      &::before {
        content: none;
      }
    }
  }
}
