{% for link in page.url | locale_links %}
    <a class="alternative-lang"
       href="{{ link.url }}"
       lang="{{ link.lang }}"
       title="{{ link.label }}"
       hreflang="{{ link.lang }}">{{ translations.read_in[link.lang] }} {{ link.label }}</a>
{% endfor %}
</span>
