<aside class="lang">
    <ul class="lang-selector">
        {% for link in page.url | locale_links %}
            <a href="{{ link.url }}"
               lang="{{ link.lang | log }}"
               title="{{ link.label }}"
               hreflang="{{ link.lang }}">{{ translations.read_in[link.lang] | log }} {{ link.label }}</a>
        {% endfor %}
    </ul>
</aside>
