<aside class="lang">
    <ul class="lang-selector">
        {% for link in page.url | locale_links %}
            <li class="actived-lang">{{ page.lang }}</li>
            <li>
                <a href="{{ link.url }}"
                   lang="{{ link.lang }}"
                   title="{{ link.label }}"
                   hreflang="{{ link.lang }}">{{ link.lang }}</a>
            </li>
        {% endfor %}
    </ul>
</aside>
