{# {% include "../_partials/i18n.njk" %} #}
<div class="running-head">
    {% if class != "homepage" %}
        {% if lang == "en" %}
            <a class="back-home" href="{{ "/" }}">{% include "_partials/logo.njk" %}</a>
        {% else %}
            <a class="back-home" href="/{{ lang }}/">{% include "_partials/logo.njk" %}</a>
        {% endif %}
    {% endif %}
    <button class="menu-call">MENU</button>
    <nav class="menu hide" role="main">
        <ul>
            {% for item in collections.sortedByOrder %}
                {% if item.data.menu.length %}
                    {% if item.data.lang == page.lang %}
                        <li class="{% if item.url == page.url %}active{% endif %}">
                            <a href="{{ item.url | locale_url }}">{{ item.data.menu }}</a>
                        </li>
                    {% else %}
                        {# only show the one without french in their  #}
                        {% set show = true %}
                        {% for itemlang in item.url | locale_links %}
                            {% if lang == itemlang.lang %}
                                {% set show = false %}
                            {% endif %}
                        {% endfor %}
                        {% if show %}
                            <li class="{% if item.url == page.url %}active{% endif %} english-only">
                                {# {% include "./gb-flag.njk" %} #}
                                <a href="{{ item.url }}">{{ item.data.menu }} <sup>en</sup></a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <li>
                <a class=github-link"
                href="https://github.com/pagedjs/pagedjs/">github</a>
            </li>
        </ul>
    </nav>
</div>
