<script>

  if (window.location.href.includes("?night")) {
    document.documentElement.classList.add("nightmode");
  }

function start() {

    document.querySelectorAll("a").forEach((a) => {
      if (a.href.includes(`?day`)) {
        // add the infor mation in the url of each link
        a.href = `${a.href.replace("?day", "?night")}`;
      } else if (a.href.includes("#")) {
        a.href = a.href.replace("#", "index.html?night#");
      } else {
        a.href = `${a.href}?night`;
      }
    });
};

start()
</script>