{% set to = page.url | locale_links | log %}
{% if to.length > 0 %}
{% else %}
    <p class="help-wanted">
        This page is only available in English. If you want to help us translate, you can open an issue on <a href="github.com/pagedjs/pagedjs/issues/">Github</a> and we’ll guide you through the process. Thank you!
    </p>
{% endif %}
