<!DOCTYPE html>

{# from https://www.matuzo.at/blog/html-boilerplate/ #}

<html lang="{% if lang %}{{lang}}{% else %} {{site.lang}}{% endif %}" class="no-js">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <title>{{title}} — {{site.title}}</title>

        <script type="module">
            document
                .documentElement
                .classList
                .remove('no-js');
            document
                .documentElement
                .classList
                .add('js');
        </script>
        <meta name="description" content="{{site.description}}">
        <meta property="og:title" content="{{title}} — {{site.title}}">
        <meta property="og:description" content="{% if description %}{{description}}{% else %}{{site.description}}{% endif %}">
        <meta property="og:image" content="{{site.image}}">
        <meta property="og:image:alt" content="{{site.imageAlt}}">
        <meta property="og:locale" content="{{site.locale}}">
        <meta property="og:type" content="website">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:url" content="site.url">
        <link rel="canonical" href="https://www.mywebsite.com/page">

        <link rel="icon" href="/favicon.ico">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="manifest" href="/my.webmanifest">
        <meta name="theme-color" content="{{browser-theme-color}}">

        {# twitter: do not track #}
        <meta name="twitter:dnt" content="on">
        {% block styleLayout %}
            {# TODO: add a way to change the layout from the yaml/code #}

        {% endblock %}

        {% block styles %}
            <link rel="stylesheet" href="/css/{{site.configuration.theme}}/main.css">
        {% endblock %}

        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet">
        <script>

            // if there is a dark mode in the storage, use that
            if (localStorage.getItem('{{site.siteId}}Nightmode') == "true") {
                document
                    .documentElement
                    .classList
                    .add('nightmode')
            }
        </script>

        {% block scriptHead %}

            {% include "_partials/scripthead.njk" %}

        {% endblock %}
    </head>

    <body  class="{{class}} {% block bodyclass %}{% endblock %}" style="{% if symbol %}--symbol-content: '{{symbol}}';{% endif %}">

        {% include "_partials/cropmarks.njk" %}

        {% block background %}{% endblock %}

        {% block topbar %}
            {% include "_partials/menu.njk" %}
        {% endblock %}

        {% block side %}
            {% include "_partials/readbuttons.njk" %}
        {% endblock %}

        {% block content %}
            <main>
                {{content | safe}}
            </main>
        {% endblock %}

        {% block footer %}
            {% include "_partials/footer.njk" %}
        {% endblock %}

        {# check instant #}
        {# <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script> #}
        {% block scripts %}
            {# <script type="module" src="/js/read.js"></script> #}
        {% endblock %}

        {% block printpreview %}{% endblock %}

    </body>
</html>
