{# nunjucks macro to create a list of item with link


Variables
→ myCollection = collection you’re gonna run through *
→ addToc: add a table of content: array with header level (`['h1','h2']`)
→ addIntro: add a intro
→ reverse: reverse list

Dataset
→ item.data.title *
→ item.data.draft (false: item not released)
→ item.data.date
→ item.data.author
→ item.url (created by eleventy)

→ TOC needs item.templateContent

 #}

{% macro index(myCollection, addTOC=[], addIntro=false, reverse=false) %}
    <div class="list content">
    {% if reverse %}
      {% set myCollection = myCollection | reverse %}
    {% endif %}
    <ul>
      {% for item in myCollection %}
        {% if item.data.draft == false %}          
          <li class="article">
            <h2><a href="{{item.url}}"><span>{{item.data.title}}</span></a></h2>
            <div class="meta">
              {% if item.data.author or item.data.date %}
                <p>written 
                  {% if item.data.author %} by <span class="author">{{item.data.author}}</span>{% endif %}
                  {% if item.data.date %}on <time class="date">{{item.data.date | postDate }}</time>{% endif %}
                </p>
              {% endif %}
              {% if addIntro %}<span class="intro">{{item.data.intro}}</span>{% endif %}
            </div>  
            {% if addTOC %}<div class = "toc">{{ item.templateContent | toc(tags=addTOC) | prependLinks(item.url) | safe}}</div>{% endif %}                         
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endmacro %}