
{% extends "singlepage.njk" %}
{% from "addPaginator.njk" import defaultPaginator with context %}
{% block content %} 
  {{ super() }}
  {{defaultPaginator(collections.documentation)}}
{% endblock %}

{# <a class="previous" href="https://www.pagedjs.org/documentation/05-designing-for-print/">Web design for print</a>
<a class="next" href="https://www.pagedjs.org/documentation/07-generated-content-in-margin-boxes/">Generated Content in Margin Boxes</a> #}