{% extends "base.njk" %}

     {% block side %}
            {# {% include "_partials/readbuttons.njk" %} #}
        {% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<article>





    {{content | safe}}
    </article>
{% endblock %}

{% block footer %}
    
{% endblock %}