{# This adds pagination to singlePage.njk #}
{% extends "singlepage.njk" %}
{% from "addPaginator.njk" import defaultPaginator with context %}
{% block content %} 
  {{ super() }}
  {% paginator collections.journal, page %}   
  {# {{defaultPaginator(collections.journal)}} #}
{% endblock %}