{% extends "base.njk" %}

{% block side %}{% endblock %}
{% block scripts %}
  <script src="/js/search.js"></script>
{% endblock %}

{% block content %}
    <header></header>
    <article>
      <div id="search">
          <label for="search">Search</label>
          <input id="search-input" name="search" type="text" placeholder="running heads, page-number, polyfill…" id="searchInput">
          <ul id="searchResults">           
          </ul>
          <template id="template">
             <li> 
              <span class="type"></span>
              <a href="" id = 'result-link'><span class="title"></span></a>
              <p class="meta"><span class="intro"></span></p> 
            </li>
          </template>
      </div>
    </article> 
{% endblock %}
