{# nunjucks layout to create an single page 

Dataset:
→ page toptitle (string)
→ page title (string)
→ author (string)
→ date (date)
→ intro (string)
→ tags (list) 
→ addIntro (true | false)
→ addTags (true | false)

filters used:
→ safe
→ postDate

Note:
if addTags is set to true, it creates a link that redirects to a page with a list of all items for that tag with url: /tag/tag%20name (refer tagsList.njk for more)

Example usage: create a blog page
Can be used along with addPaginator macro to create a blog page with previous and next blogs

#}

{% extends "base.njk" %}

{% block side %}
  <p style="color: purple; position: absolute; left: -60px; top: 0; transform : rotate(90deg) ">single</p>
  {# {% include "_partials/readbuttons.njk" %} #}
{% endblock %}

{% block scripts %}{% endblock %}

{% block content %}
  <header>
    <h1 id="title">
        {% if toptitle %}
            <span class="top-title">{{toptitle}}</span>
        {% endif %}
        {{title}}
    </h1>
    {% if author or date %}
      <p class="meta">written 
        {% if author %}by <span class="author">{{author}}</span>{% endif %}
        {% if date %}on <time class="date">{{date | postDate }}</time>{% endif %}
      </p>        
    {% endif %}
  </header>  
  <article>
    {% if addIntro %}
      <p class="intro">{{intro}}
        {% if addTags %}
          {% if tags %}<br>  
            <span class="tags">
              {% for tag in tags %}
                <a class=  "tag" href="/tags/{{ tag }}/">{{tag}}</a>
              {% endfor %}
            </span>
          {% endif %}        
        {% endif %}
    {% endif %}
    {{content | safe}}
  </article>
    {# {% if searchPaginator == "yes" %}
    {% from "addPaginator.njk" import searchPaginator with context %}
    {{searchPaginator()}}
  {% endif %} #}
{% endblock %}

