{# nunjucks layout to create an list of tags with link  
link created for each tag: /tags/tag%20name

Dataset:
→ collections.tagList* (collection)
→ page toptitle (string)
→ page title (string)

How this works:
when a tag is clicked it redirects to a page with a list of items in that page 
use createIndex.njk with collections[tag] to create list of items for each tag 

#}


{% extends "base.njk" %}

{% block side %}
  <p style="color: purple; position: absolute; left: -60px; top: 0; transform : rotate(90deg) ">single</p>
  {# {% include "_partials/readbuttons.njk" %} #}
{% endblock %}

{% block scripts %}{% endblock %}

{% block content %}
  <header>
    <h1 id="title">
        {% if toptitle %}
            <span class="top-title">{{toptitle}}</span>
        {% endif %}
        {{title}}
    </h1>
  </header> 
  <div class="list content">
    <ul>
      {% for tag in collections.tagList %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <li class="article">
          <h2 style="padding:0">
            <a href="{{ tagUrl}}">
              <span>{{ tag }}<span>
            </a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  </div>     
{% endblock %}




